* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
    background-color: grey;
    color: white;
}

#wrapper {
  background-color: white;
  width: 70%;
  margin: 0 auto;
}

#tittle {
  color: black;
  text-align: center;
  font-size: 70px;
  font-style: italic;
  font-family: fantasy;
  padding-bottom: 30px;
 }

#section
{
  background-color: white;
 }

#footer {background-color: #333333; padding: 2%;}
#footer p {color: white; font-size: Arial; padding: 2%;}

 .text{
  text-align: justify;
  color: black;
  width: 70%;
  padding: 2%;
  margin-left: 15%;
  margin-bottom: 1em;
}

.images {

  width: 800px;
  height: 600px;
  margin-left: 8%;
  border: 5px solid grey;
  margin-bottom: 3%;
}

.videos {

  width: 800px;
  height: 600px;
  margin-left: 8%;
  border: 5px solid grey;
  float: left;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

.clearfix {
        clear:both;

}

.foto3 {
  width: 100%;
  height: 100%;
